In [1]:
import pandas as pd

In [2]:
rat_data = pd.read_csv("rodents_sightings.csv")
rat_data.head()

,SERVICECODEDESCRIPTION,LATITUDE,LONGITUDE,WARD,ADDDATE,RESOLUTIONDATE,Primary_key,ADD_DATE,RESOLVE_DATE
0,Rodent Inspection and Treatment,38.893717,-76.926186,7.0,2018-01-04T05:32:08.000Z,2018-01-11T12:45:03.000Z,1,2018-01-04,2018-01
1,Rodent Inspection and Treatment,38.887417,-76.978319,6.0,2018-01-03T22:48:57.000Z,2018-01-11T12:04:18.000Z,2,2018-01-03,2018-01
2,Rodent Inspection and Treatment,38.865376,-76.948792,7.0,2018-01-04T11:49:01.000Z,2018-01-11T12:39:38.000Z,3,2018-01-04,2018-01
3,Rodent Inspection and Treatment,38.919017,-77.014939,1.0,2018-01-04T11:51:09.000Z,2018-01-11T14:37:18.000Z,4,2018-01-04,2018-01
4,Rodent Inspection and Treatment,38.911716,-77.032672,2.0,2018-01-04T16:19:40.000Z,2018-01-10T12:31:28.000Z,5,2018-01-04,2018-01

In [3]:
rat_data.to_html("data.html")